<!DOCTYPE html>
<html>

<head>
    <title>{{ name }}'s Room</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width = device-width, user-scalable=no" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="loggedin">
    <div class="container">
        <div class="row flex-nowrap">
            <div class="col" id="queue">Queue</div>
            <div class="col" id="room-chat">
                <ul class = "chat-tabs">
                    <li class = "chat-tab-entry"><a class = "active-tab" href = "#/general">general</a></li>
                </ul>
            </div>
            <div class="col" id="friends-list">Friends List</div>
        </div>
        <div class="row flex-nowrap">
            <div class="col" id="current-media">Current Media</div>
            <div class="col" id="add-media">Add Media</div>
        </div>
    </div>

    <!--<div class = "username" id = "mydiv" data-name = '{{ name }}'></div> -->

    <!-- <div class="row">
        <div class="col s12">
            <img class="screen" id="screen" src="{{ url_for('video_feed') }}">
        </div>
    </div> -->

    <script>var name = {{ name|tojson }};</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="//rawgit.com/ngryman/jquery.finger/v0.1.2/dist/jquery.finger.js"></script>
    <script src="/static/js/home.js" charset="utf-8"></script>
</body>

</html>